@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #221f2f;
}
body::before {
  width: 120px;
  height: 120px;
  content: "";
  position: absolute;
  left: 15%;
  top: 20%;
  background-color: #ed2ff0;
  filter: blur(150px);
}
body::after {
  width: 120px;
  height: 120px;
  content: "";
  position: absolute;
  left: 80%;
  top: 74%;
  background-color: #22a8cd;
  filter: blur(150px);
}
